{% extends 'base.html' %}

{% load custom_filters %}

{% block content %}
    <h1>Liste des Monnaies</h1>
    <table border="1" style="width:100%; border-collapse: collapse;">
        <thead>
            <tr>
                <th>Symbole</th>
                <th>Prix Actuel / Trades</th>
                <th>Derniers Indicateurs</th>
            </tr>
        </thead>
        <tbody>
        {% for monnaie in monnaies %}
            <tr>
                <td style="text-align: center;">
                    <a href="{% url 'monnaie_detail' symbole=monnaie.symbole %}"
                       style="color: {% if monnaie.init %}green{% else %}red{% endif %}; text-decoration: none; font-weight: bold;">
                        {{ monnaie.symbole }}
                    </a>
                </td>
                <td style="text-align: center;">
                    <div>
                        <strong>{{ monnaie.prix_actuel|default:"-" }}</strong>
                    </div>
                    <div style="margin-top: 5px;">
                        🟢 {{ monnaie.nb_trades_win }} | 🔴 {{ monnaie.nb_trades_loss }} | ⏳ {{ monnaie.nb_trades_en_cours }}
                    </div>
                </td>
                <td>
                    <table border="1" style="width:100%; text-align: center; border-collapse: collapse;">
                        <thead>
                            <tr>
                                <th>Intervalle</th>
                                <th>Stoch RSI</th>
                                <th>RSI</th>
                                <th>MACD</th>
                                <th>Bollinger M</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for interval in intervals %}
                            <tr>
                                <td>{{ interval }}</td>
                                <td>{{ monnaie|getattr:'stoch_rsi_'|add:interval|default:"-"|floatformat:2 }}</td>
                                <td>{{ monnaie|getattr:'rsi_'|add:interval|default:"-"|floatformat:2 }}</td>
                                <td>{{ monnaie|getattr:'macd_'|add:interval|default:"-"|floatformat:6 }}</td>
                                <td>{{ monnaie|getattr:'bollinger_middle_'|add:interval|default:"-"|floatformat:6 }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}



























































